* {
  box-sizing: border-box;
}

body {
  position: relative;
}

@keyframes alerting {
  0% {
    top: 0px;
    
  }

  /*50% {
    top: 100px;
  }*/

  100% {
    top: calc(50vh - 50px);
   
  }
}

.block {
 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  width: 250px;
  height: 100px;
  background-color: coral;
  border-radius: 10px;
  position: absolute;
 
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);

  animation-name: alerting;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
